@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <span style="color: #151B54">Privacy Policy</span>
</h1>

<body style="background-color: #EBF4FA">
    <form style="background-color: #F8F8F8">
        <div style="margin-top: 20px; margin-bottom: 20px">

            <table border="0">
                <tbody>
                    <tr>
                        <td class="innerrightbg">
                            &nbsp;
                        </td>
                        <td class="innerboxbg">
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <!-- Body Content Starts -->

                                            <table border="0">
                                                <tbody>
                                                    <tr>
                                                        <td class="Orangebg">
                                                            <p class="maintext" style="margin-left: 3pt">
                                                                Privacy Policy which sets forth our policies regarding the collection, use and protection
                                                                of the information of those using the our website. Information that can be linked
                                                                to a specific individual, such as name, identification number and email address
                                                                are protected.
                                                            </p>
                                                            <p>
                                                                We encourage you to review our Privacy Policy, and become familiar with it, but
                                                                you should know that we do not sell or rent our customers' personal information
                                                                to third parties.
                                                            </p>
                                                            <p>
                                                                This Privacy Policy explains the following:
                                                            </p>
                                                            <p class="orange11" style="font-size: 18px; font-weight: bold; color: #151B54">
                                                                What personal information does MRT gather from
                                                                me and how is this information used?
                                                            </p>
                                                            <p>
                                                                When browsing our site, you are not required to provide any personal information
                                                                unless and until you choose other services as described above.
                                                            </p>
                                                            <p class="orange11" style="font-size: 18px; font-weight: bold; color: #151B54">
                                                                What safeguards are in place to protect the loss,
                                                                misuse or alteration of your information?
                                                            </p>
                                                            <p>
                                                                All personal information you provide to MRT is transmitted using SSL (Secure
                                                                Socket Layer) encryption. SSL is a proven coding system that lets your browser automatically
                                                                encrypt, or scramble, data before you send it to us. In addition, when you make
                                                                MRT Ticket purchases on our website, you are protected.
                                                            </p>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="paraTitle">
                                <br />
                                <h4 style="color: #151B54">Thank you for Choosing Us.</h4>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</body>