@{
    ViewData["Title"] = "Terms Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <span style="color: #151B54">Terms and Conditions</span>
</h1>

<style type="text/css">
    .style1 {
        height: 40px;
    }

    .auto-style2 {
        width: 1446px;
    }

    .auto-style3 {
        width: 1366px;
    }

    .auto-style4 {
        width: 1373px;
    }

    .auto-style5 {
        margin-top: 0px;
    }

    .auto-style6 {
        width: 5px;
    }
</style>
<body style="background-color: #EBF4FA">
    <form style="background-color: #F8F8F8">
        <div style="margin-top: 20px; margin-bottom: 20px">

            <table border="0" class="auto-style5">
                <tbody>
                    <tr>
                        <td class="auto-style6">
                            &nbsp;
                        </td>
                        <td class="auto-style4">
                            <table border="0">
                                <tbody>
                                    <tr>
                                        <td class="auto-style2">
                                            <!-- Body Content Starts -->

                                            <table border="0" style="text-align:justify; margin-right: 20px">
                                                <tbody>
                                                    <tr>
                                                        <td class="auto-style3">
                                                            <p class="orange11" style="font-size: 18px; font-weight: bold; color: #151B54">
                                                                A. GENERAL
                                                            </p>
                                                            <p style="margin-left:20px">
                                                                <b>1. </b>Mass Rapid Transit Corporation Sdn Bhd ("MRT Corp") is organising the “Transeat:
                                                                MRT Putrajaya Line Underground Stations Bench Design &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Competition” (“The
                                                                Competition”) which runs over a period of sixty one (61) days from 1 June 2020
                                                                until 31 July 2020 (both dates inclusive).

                                                            </p>

                                                            <p class="orange11" style="font-size: 18px; font-weight: bold; color: #151B54 ">
                                                                B. ELIGIBILITY
                                                            </p>
                                                            <p style="margin-left:20px">
                                                                <b>1. </b> The Competition is open to all Malaysian citizens ("Participants").
                                                                <br /><b>2. </b> Employees of Mass Rapid Transit Corporation Sdn Bhd, MMC Gamuda KVMRT (PDP
                                                                SSP) Sdn Bhd and MMC Gamuda KVMRT (T) Sdn Bhd are not
                                                                &nbsp&nbsp&nbsp eligible to participate
                                                                in this competition.
                                                            </p>
                                                            <p class="orange11" style="font-size: 18px; font-weight: bold; color: #151B54 ">
                                                                C. SUBMISSION
                                                            </p>
                                                            <p style="margin-left:20px">
                                                                <b>1. </b> Submissions will be sent using the Entry Form via email to
                                                                transeat@mymrt.com.my
                                                                <br /><b>2. </b> Entries for each submission should comprise the following:
                                                                <br /><span cla style="margin-left:18px">a. 1 x A1-sized image board in PDF format containing:</span>
                                                                <br /><span style="margin-left:35px">• 3D views</span>
                                                                <br /><span style="margin-left:35px">• Design statement summary</span>
                                                                <br /><span style="margin-left:35px"></span>• Plan, elevations and sections (1: 10 scale) with dimensions
                                                                <br /><span style="margin-left:35px"></span>• Material specifications
                                                                <br /><span style="margin-left:35px"></span>• Additional drawings of special features and/or blow-up details if present
                                                                <br /><span style="margin-left:18px"></span>b. 1 x A3-sized report in landscape orientation in PDF format containing:
                                                                <br /><span style="margin-left:35px"></span>• Page 1: One 3D overall view
                                                                <br /><span style="margin-left:35px">
                                                                    • Page 2: Design Statement - written description of the bench design
                                                                    proposal demonstrating how it complements with the station architectural                                              
                                                                </span>
                                                                <br /><span style="margin-left:35px">
                                                                    design concept, identity theme and colour, artistic approach and aesthetic
                                                                    appeal
                                                                </span>
                                                                <br /><span style="margin-left:35px"></span>• Page 3: 3D views
                                                                <br /><span style="margin-left:35px"></span>• Page 4: Plans, top views and elevations from all four sides with dimensions
                                                                <br /><span style="margin-left:35px"></span>• Page 5: Additional drawings (to scale) with description of special features
                                                                and/or blow-up details
                                                                <br /><span style="margin-left:35px"></span>• Page 6: Technical details – materials, finishing, ergonomics, construction
                                                                technique, colours, etc.
                                                                <br /><span style="margin-left:35px"></span>• Page 7: Estimated preliminary cost of fabrication
                                                                <br /><span style="margin-left:18px"></span>c. 1 x compressed softcopy files containing:
                                                                <br /><span style="margin-left:35px"></span>• PDF file of A1 -sized image board
                                                                <br /><span style="margin-left:35px"></span>• PDF file of A3-sized report
                                                                <br /><span style="margin-left:35px"></span>• High-resolution image files of all 3D views used in the submission
                                                                <br /><b>3. </b> Entries will be evaluated and shortlisted to go for next round of evaluation process.
                                                                <br />The shortlisted entries will be required to submit:
                                                                <br /><span style="margin-left:35px"></span>• Submission in soft copy file for printing of 1 x 3D working model (1:5
                                                                scale model)
                                                                <br /><b>4. </b> All submissions must be in either Bahasa Malaysia or English.
                                                                <br /><b>5. </b> Multiple submissions of different works by Participants are acceptable.
                                                                <br /><b>6. </b> Submissions by individuals are encouraged. Group submissions are permitted but
                                                                a group must not comprise of more than 3 individuals and the submission should
                                                                be under the name of the group. Should a group submission be selected as a
                                                                winner, only a single prize will be awarded to the group.
                                                                <br /><b>7. </b> All submitted work must be the original work of the Participants and must not
                                                                include, be based on or derived from any pre-existing or third-party designs,
                                                                trademarks or copyrighted images. All concepts, text, icons, sheets, pictures, videos,
                                                                audios, music, animation contents and program of the work shall not be involved
                                                                in any plagiarism or infringement of copyrights or other laws.
                                                                <br /><b>8. </b> Participants shall cooperate with MRT Corp’s request in connection with the
                                                                competition and the fabrication of any prototypes or benches. The Participants shall
                                                                execute any additional documentation that MRT Corp reasonably determines to be
                                                                necessary to allow for its use in whole or any part of any design submitted entry.
                                                                <br /><b>9. </b> Unsuccessful submissions can be taken back by Participants within one (1) month
                                                                after the announcement of winners. Any unclaimed submission after that period
                                                                will be disposed.
                                                                <br /><b>10. </b> Any submission made before or after the Competition Period will be ineligible.
                                                                <br /><b>11. </b> MRT Corp reserves its absolute right and discretion to accept and/or reject any
                                                                participation submitted for the Competition if, in its opinion, the participation is not
                                                                valid and/or false and/or contains inaccurate information and/or the participants is
                                                                ineligible to participate.
                                                                <br /><b>12. </b> MRT Corp reserves the right to change/cancel the Competition without prior
                                                                notification. For the avoidance of doubt, cancellation, termination or suspension by
                                                                MRT Corp shall not entitle the Participants to any claim or compensation against
                                                                MRT Corp for any and all losses or damages suffered or incurred as a direct or
                                                                indirect result of the act of cancellation, termination or suspension. MRT Corp has
                                                                no obligation to proceed with any stage of the competition, including the selection
                                                                of finalists or winners, or exhibit any prototypes.
                                                                <br /><b>13. </b> All expenditure related to the submission of entries or any other aspect of the
                                                                participant’s participation in the competition are the sole responsibility of the
                                                                participant.
                                                            </p>
                                                            <p class="orange11" style="font-size: 18px; font-weight: bold; color: #151B54">
                                                                D. SELECTION OF WINNERS AND PRIZES
                                                            </p>
                                                            <p style="margin-left:20px">
                                                                <b>1. </b> The submission will be evaluated based on the followings;
                                                                <br /><span style="margin-left:18px"></span>a. Compliance to submission requirements and design requirements
                                                                <br /><span style="margin-left:18px"></span>b. Adoption of design considerations
                                                                <br /><b>2. </b> The judging process will be as follows:
                                                                <br /><span style="margin-left:18px"></span>a. Stage 1 – Each submission will be evaluated. Top 10 submissions with highest
                                                                score will be shortlisted for Stage 2 evaluation.
                                                                <br /><span style="margin-left:18px"></span>b. Stage 2 – The shortlisted submissions will be further evaluated for selection of
                                                                the winner.
                                                                <br /><b>3. </b> A total of four (4) Winners will be selected during the Competition Period as
                                                                follows:
                                                                <br /><span style="margin-left:18px"></span>
                                                                a. Grand Prize: RM10,000.00
                                                                <br /><span style="margin-left:18px"></span>b. First Runner-Up Prize: RM7,000.00
                                                                <br /><span style="margin-left:18px"></span>c. Second Runner-Up Prize: RM5,000.00
                                                                <br /><span style="margin-left:18px"></span>d. Special Prize (Best submission by student): RM5,000.00
                                                                <br /><b>4. </b> Prizes are not transferable and are not exchangeable for any other item, in part or
                                                                in full.
                                                                <br /><b>5. </b> A total of four (4) Winners shall receive the prize at his/her own risk and will accept
                                                                the prize as it is.
                                                                <br /><b>6. </b> Participants shall respect the evaluation and decisions made by the committee. The
                                                                decision of the judges of the Competition will be final.
                                                                <br /><b>7. </b> Prize winners shall be present at the prize award ceremony organised by MRT Corp.
                                                                All travel expenses related to the award ceremony will be borne by the participants.
                                                                <br /><b>8. </b> Requests, lobbies, threats, bribes or other actions interfering in the evaluation are
                                                                not allowed.
                                                                <br /><b>9. </b> MRT Corp reserves its absolute right to substitute any of the prizes with another
                                                                prize of equivalent value, at any time, without giving prior notice or without
                                                                assigning any reason whatsoever to the winners.
                                                                <br /><b>10. </b> To the extent permitted by law, MRT Corp makes no warranties, representations or
                                                                endorsements, expressed or implied, written or oral, including but not limited to,
                                                                any warranty of quality, merchantability or suitability or fitness for a particular
                                                                purpose of the prizes and MRT Corp shall not be responsible nor liable for any
                                                                problems, loss and/or damage thereto or arising therefrom. Any dispute in relation
                                                                to the prizes must be settled between the winner and the supplier or manufacturer.
                                                                MRT Corp will not be responsible for resolving such disputes and the winners are
                                                                to liaise directly with the supplier or manufacturer for warranty information
                                                                pertaining to the prizes.

                                                            </p>

                                                            <p class="orange11" style="font-size: 18px; font-weight: bold; color: #151B54">
                                                                E. CONSENT

                                                            </p>
                                                            <p style="margin-left:20px">
                                                                <b>1. </b> Participants shall agree to provide further details or information about their entries
                                                                for media coverage and exhibitions in connection or otherwise with the
                                                                competition at the request of MRT Corp.
                                                                <br /><b>2. </b> MRT Corp reserves the right to use all entries (including the photographs and
                                                                written descriptions of the entries) for promotional purposes, including for the
                                                                current or future competitions, in any way deemed fit and at the sole discretion of
                                                                MRT Corp.
                                                                <br /><b>3. </b> Except where prohibited by law, an entry submission in this contest constitutes the
                                                                granting of permission to use, in connection with the competition, the participant’s
                                                                name and likeness and any other information that the participant provides to MRT
                                                                Corp in connection with the competition, including in credits for top designs,
                                                                prototypes, and winning design for publicity purposes, without further
                                                                permission or compensation.

                                                            </p>
                                                            <p class="orange11" style="font-size: 18px; font-weight: bold; color: #151B54">
                                                                F. DESIGN

                                                            </p>
                                                            <p style="margin-left:20px">
                                                                <b>1. </b> The mandatory design requirements the Participants must comply with are as
                                                                follows:
                                                                <br /><span style="margin-left:18px"></span>a. Capacity and Dimensions
                                                                <br /><span style="margin-left:35px"></span>• Each bench to accommodate three (3) persons
                                                                <br /><span style="margin-left:35px"></span>• Length of bench not to exceed two meters (2m)
                                                                <br /><span style="margin-left:35px"></span>• Sitting surface shall be between 400 millimeters (400mm) to 500 milimeters
                                                                (500mm) high from finished floor level
                                                                <br /><span style="margin-left:18px"></span>b. Functional Configuration
                                                                <br /><span style="margin-left:35px"></span>• Bench to be fixed to platform floor
                                                                <br /><span style="margin-left:35px"></span>• Ergonomic, inclusive and user –friendly
                                                                <br /><span style="margin-left:35px"></span>• Bench shall take into consideration public safety and avoid sharp edges
                                                                <br /><span style="margin-left:35px"></span>• Vandalism prevention methods shall be holistically integrated with the
                                                                design
                                                                <br /><span style="margin-left:35px"></span>• Bench shall be designed to discourage people from lying down
                                                                <br /><span style="margin-left:35px"></span>• Flexible seating arrangement on the bench (single-facing, back-to-back and
                                                                multi-directional are acceptable)
                                                                <br /><span style="margin-left:18px"></span>c. Material Selection
                                                                <br /><span style="margin-left:35px"></span>• Non-combustible and low heat emission
                                                                <br /><span style="margin-left:35px"></span>• Ease of maintenance
                                                                <br /><span style="margin-left:35px"></span>• Robust and vandal resistant
                                                                <br /><b>2. </b> The following are design considerations which the Participants can based on:
                                                                <br /><span style="margin-left:18px"></span>a. Concept and design innovation
                                                                <br /><span style="margin-left:35px"></span>• Cohesiveness to linewide identity, creativity, originality, material selection,
                                                                technology and construction.
                                                                <br /><span style="margin-left:18px"></span>b. Design functionality
                                                                <br /><span style="margin-left:35px"></span>• Ease of maintenance, safety, inclusivity and ergonomics.
                                                                <br /><span style="margin-left:18px"></span>c. Vandalism prevention ideas
                                                                <br /><span style="margin-left:35px"></span>• Holistic integration with design
                                                                <br /><span style="margin-left:18px"></span>d. Cost effectiveness
                                                                <br /><span style="margin-left:35px"></span>• Overall consideration of the material, fabrication and maintenance cost.
                                                                Estimated preliminary cost of bench fabrication shall be included in the
                                                                submission.
                                                                <br /><b>3. </b> The winning designs shall become the property of MRT Corp. By entering this
                                                                competition, each participant agrees that all intellectual property rights pertaining
                                                                to his or her design shall be deemed assigned to MRT Corp upon the design being
                                                                selected as a winning design.
                                                                <br /><b>4. </b> MRT Corp reserves the right to modify the winning design to better fit the needs
                                                                of the MRT project.
                                                                <br /><b>5. </b> MRT Corp reserves the right not to adopt or use any winning design or any design
                                                                submitted for the competition without giving any reason to the participants.
                                                                <br /><b>6. </b> MRT Corp shall not be held liable and responsible for any damage, claims or loss
                                                                of ideas before or after the competition.
                                                            </p>
                                                            <p class="orange11" style="font-size: 18px; font-weight: bold; color: #151B54">
                                                                G. GENERAL TERMS AND CONDITIONS

                                                            </p>
                                                            <p style="margin-left:20px">
                                                                <b>1. </b> By participating in this Competition, the Participants are deemed to have read,
                                                                understood and agreed to the Terms and Conditions stipulated herein and will
                                                                abide by all decisions made by MRT Corp.
                                                                <br /><b>2. </b> MRT Corp will not be responsible or liable for any problem, error, loss or damage
                                                                of whatsoever nature suffered by the Participants due to any delay and/or failure in
                                                                receiving and sending the entry form as a result of any network, communication or
                                                                system error, interruption, omission and/or resulting from participation in the
                                                                Competition.
                                                                <br /><b>3. </b> The results once announced are final and binding. The decisions of MRT Corp in
                                                                relation to every aspect of the Competition, including but not limited to the type
                                                                of prize and the winners, shall be deemed final and conclusive under any and all
                                                                circumstances. No appeal, challenge, query or complaint from any of the
                                                                Participants will be entertained. The receipt by any winner of any prize under the
                                                                Competition is conditional upon compliance with any and all applicable laws, rules
                                                                and regulations.
                                                                <br /><b>4. </b> MRT Corp reserves the right at its absolute discretion to vary, delete or add to any
                                                                of these Terms and Conditions contained herein wholly or in part. MRT Corp may
                                                                terminate or extend the Competition Period without prior notice to the Participants.
                                                                <br /><b>5. </b> These Terms and Conditions shall prevail over any representations contained in any
                                                                promotional materials (including without limitation printed posters or leaflets) or
                                                                advertisements on the Competition.
                                                                <br /><b>6. </b> Any matter with regards to the Competition which is not covered in these Terms
                                                                and Conditions will be determined solely by MRT Corp at its discretion.
                                                                <br /><b>7. </b> MRT Corp, its related corporations, directors, officers, employees or agents will not
                                                                be liable for any loss (including direct, indirect, special and consequential losses),
                                                                damage, or any injury that may be sustained by the Participant or by any person in
                                                                connection with the Contest. All Participants assume liability for any loss, injury,
                                                                damage or claim that may arise from participating in the Competition or use of any
                                                                prize.
                                                                <br /><b>8. </b> Any federal, state and local taxes that may be imposed in connection with the prizes
                                                                are the sole responsibility of the winners.
                                                                <br /><b>9. </b> These Terms and Conditions shall be governed by and construed in accordance
                                                                with the laws of Malaysia. You agree to submit to the exclusive jurisdiction of the
                                                                courts of Malaysia.
                                                            </p>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="paraTitle" style="color: #151B54">
                                <br />
                                <h4>Thank you for Choosing Us.</h4>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</body>

